.containers{
    height: calc(100vh-3rem);
    width: calc(100vw-8rem);
    background-image: url("./assets/hero.jpg");
    object-fit: contain;
}

.heroText{
    padding: 10% 29%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.btn{
    height: 3rem;
    width: 8rem;
}

